.cell { border: 0px solid lime; border-radius: 5px;
    width: 40px; height: 40px;
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 0px 2px;
    background: #444;
    }

.cell.playing { background: lime; }
.cell.old { background: orange;}

body { 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
    background: black; 
    color: white;
    }
 

#title {
    font-size: 48pt;
    font-weight: bold;
	text-align: left;
    padding: 0px;
}

#mainContent {
	font-weight: bold;
	background-color: #444;
	border-radius: 4px;
    padding: 10px;
	text-align: left;
    width: 356px; 
}

#universe {
    border: 0px solid lime; border-radius: 5px;
    width: 356px; height: 348px;
    background: black; 
    color: white;
}